<div class="row">
  <div class="col-xs-12">
    <form #f="ngForm" (ngSubmit)="onAddItem(f)">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            required
            ngModel
            #name="ngModel">
            <span class="help-message" *ngIf="name.invalid && name.touched">
              Please enter a name.
            </span>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            name="amount"
            class="form-control"
            required
            min="1"
            ngModel
            #amount="ngModel">
            <span class="help-message" *ngIf="amount.invalid && amount.touched">
              Please enter an amount.
            </span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="f.invalid">{{ editMode ? 'Update' : 'Add' }}</button>
          <button
            class="btn btn-danger"
            type="button">Delete</button>
          <button
            class="btn btn-primary"
            type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
