<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Bind it!</h3>
      <ol>
        <s><li>Create three new components: GameControl, Odd and Even</li></s>
        <s><li>The GameControl Component should have buttons to start and stop the game</li></s>
        <s></s><li>When starting the game, an event (holding a incrementing number) should get emitted
        each second (ref = setInterval())</li>
        <s></s><li>The event should be listenable from outside the component</li>
        <s></s><li>When stopping the game, no more events should get emitted (clearInterval(ref))</li>
        <s></s><li>A new Odd component should get created for every odd number emitted, the same should
        happen for the Even Component (on even numbers)</li>
        <s><li>Simply output Odd - NUMBER or Even - NUMBER in the two components</li></s>
        <s><li>Style the element (e.g. paragraph) holding your output text differently in both
          components</li></s>
      </ol>
    </div>
    <hr>
    <div class="col-xs-12">
      <app-game-control (gameStarted)="createComponent($event)"></app-game-control>
      <hr>
      <div *ngFor="let component of numberComponents">{{ component }}</div>
    </div>
  </div>
</div>
