<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit()" [formGroup]="recipeForm">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="recipeForm.invalid">Save</button>
          <button type="button" class="btn btn-danger">Cancel</button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              class="form-control"
              type="text"
              id="name"
              formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              class="form-control"
              type="text"
              id="imagePath"
              formControlName="imagePath">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img *ngIf="recipeForm.value['imagePath']"
            [src]="recipeForm.value['imagePath']"
            alt=""
            class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              class="form-control"
              id="description"
              rows="6"
              formControlName="description"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div
            class="row"
            *ngFor="let control of recipeForm.get('ingredients').controls; let i = index"
            [formGroupName]="i"
            style="margin-top: 10px;">
            <div class="col-xs-8">
              <input
                type="text"
                class="form-control"
                formControlName="name">
            </div>
            <div class="col-xs-2">
              <input
                type="number"
                class="form-control"
                formControlName="amount">
            </div>
            <div class="col-xs-2">
              <button class="btn btn-danger" type="button">X</button>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button class="btn btn-success" type="button" (click)="addIngredient()">Add Ingredient</button>
            </div>
          </div>
        </div>
      </div>


      <!--<div formArrayName="recipeIngredients">-->
        <!--<h4>Ingredients</h4>-->

        <!--<hr>-->
        <!--<div-->
          <!--class="form-group"-->
          <!--*ngFor="let ingredient of recipeForm.get('recipeIngredients').controls; let i = index">-->
          <!--<input type="text" class="form-control" [formControlName]="i">-->
        <!--</div>-->
       <!--</div>-->
      <!--<button class="btn btn-success" type="submit" [disabled]="recipeForm.invalid">Add Recipe</button>-->
    </form>
  </div>
</div>
