<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *appUnless="onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let number of numbers">
            {{ number }}
          </li>
        </div>
        <div *ngIf="onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let number of numbers">
            <div *ngIf="number % 2 == 1">
              {{ number }}
            </div>
          </li>
        </div>
      </ul>
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>
      <p appBasicHighlight>Basic highlight</p>
      <p [appBetterHighlight]="'red'" defaultColor="yellow">Better highlight</p>
    </div>
  </div>
</div>
