<ol>
  <li>Add a Input field which updates a property ('username') via Two-Way-Binding</li>
  <label>Username</label>
  <input [(ngModel)]="username">
  <li>Output the username property via String Interpolation (in a paragraph below the input)</li>
  <p>{{ username }}</p>
  <li>Add a button which may only be clicked if the username is NOT an empty string</li>
  <button class="btn btn-primary"
          [disabled]="username === ''"
          (click)="onResetUsername()">Reset Username</button>
  <li>Upon clicking the button, the username should be reset to an empty string</li>
</ol>
